

html, body {
    margin: 0px;
    background-color: #f5f5f5;
    font-family: Calibri;
    overflow:visible;
}



.headerDivLogo {
    position: relative;
    width: 150px;
    cursor: pointer;
}

.container {
    position: relative;
    width: 600px;
    height: 465px;
    position: relative;
    margin: 10px 2.5px 20px 2.5px;
    left: 50%;
    top: 0px;
    transform: translate(-50%);
    text-align: center;
}

.text-field {
    position: relative;
    margin: 10px 2.5px 20px 2.5px;
}

input {
    position: relative;
    display: inline-block;
    border: solid medium #999;
    border-width: 0.5px;
    color: #574c4c;
    background-color: #fafafa;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    top: 0px;
    width: 92%;
    background: rgba(235, 239, 240);
}


.label1 {
    color: #999;
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 90px;
    transition: 0.2s;
}

.label2 {
    color: #999;
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 40px;
    transition: 0.2s;
}

.input:focus ~ .label1, .input:valid ~ .label1 {
    top: 75px;
    left: 35px;
    font-size: small;
    background: rgba(235, 239, 240, 1);
    padding:0 5px 0 5px;
}

.input:focus ~ .label2, .input:valid ~ .label2 {
    top: 25px;
    left: 35px;
    font-size: small;
    background: rgba(235, 239, 240, 1);
    padding:0 5px 0 5px;
}

h1 {
    float: left;
    margin-left: 20px;
    font-weight: 500;
}

p {
    visibility: visible;
    position: relative;
    float: left;
    left: 2.25%;
    top: -10px;
    color: red;
}



.logInButton {
    position: relative;
    top: 30px;
    width: 55%;
    background-color: magenta;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 85%;
}

hr {
    width: 95%;
}



.singUpButton {
    position: relative;
    top: 10px;
    width: 55%;
    background-color: magenta;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 85%;
}

@media screen and (max-width: 675px) {
    .container {
        width: 90%;
        padding: 5px;
    }

    .label1 {
        left: 5%;
        top: 80px;
    }
    
    .label2 {
        left: 5%;
        top: 40px;
    }

    .input:focus ~ .label1, .input:valid ~ .label1 {
        top: 65px;
    }

    p {
        left: 2%;
    }

    #resetPassword {
        position: absolute;
        left: 3.5%;
        top: 250px;
    }
}