

html, body {
    margin: 0px;
    background-color: white;
    overflow:visible;
}

.headerDiv {
  
}

.headerDivLogo {
    position: relative;
    width: 150px;
    cursor: pointer;
}

.container {
    position: relative;
    width: 600px;
    padding-bottom: 39px;
 
    
    
    
    position: relative;
    margin: 10px 2.5px 20px 2.5px;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
    text-align: center;
}

.text-field {
    position: relative;
    margin: 10px 2.5px 20px 2.5px;
}

input {
    position: relative;
    display: inline-block;
    border: solid medium #999;
    border-width: 0.5px;
    color: #574c4c;
    background-color: #fafafa;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    top: 0px;
    width: 92%;
    background: rgba(235, 239, 240);
}


.label1 {
    color: red;
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 90px;
    transition: 0.2s;
}

.label2 {
    color: red;
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 40px;
    transition: 0.2s;
}



h1 {
    float: left;
    margin-left: 20px;
    font-weight: 500;
}

p {
    visibility: visible;
    position: relative;
    float: left;
    left: 2.25%;
    top: -10px;
    color: red;
}

.howOldContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.howOldContainer label {
    position: relative;
    left: -45px;
    margin-left: 10px;
    background: rgba(235, 239, 240);
    border-style: solid;
    width: 50%;
    border-width: 1px;
    padding: 10px;
    border-color: #999;
}

.howOldContainer label a {
    position: relative;
    vertical-align: middle;
    align-self: center;
    top: 1px;
}


.logInButton {
    position: relative;
    top: 0px;
    width: 55%;
    background-color: magenta;
    color: white;
    font-size: 20px;
    border: none;
border-radius: 85%;
}

hr {
    width: 95%;
}

.orLabel {
    position: relative;
    top: -20px;
    width: 175px;
    display: inline-block;
    background: rgba(235, 239, 240, 1);
}

.singUpButton {
    position: relative;
    top: 0px;
    width: 55%;
    background-color: magenta;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 85%;
}

@media screen and (max-width: 675px) {
    .container {
        width: 90%;
        padding: 5px;
        padding-bottom: 39px;
    }

    .label1 {
        left: 5%;
        top: 80px;
    }
    
    .label2 {
        left: 5%;
        top: 40px;
    }

    .input:focus ~ .label1, .input:valid ~ .label1 {
        top: 65px;
    }

    p {
        left: 2%;
    }
}